body {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    background-color: #121314;
    color: #c5c5c5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

ol, ul {
	list-style: none;
   display: flex;
   flex-wrap: wrap;
}

li {
   margin: 5px;
   background-color: rgb(75, 73, 73);
   padding: 10px;
   border-radius: 5px;
}

a:visited {
   color: rgb(5, 148, 148);
}

a:link {
   color: rgb(13, 187, 187);
}

a:hover {
   color: cyan;
}