body {
   width: 95%;
   margin: 0 auto;
   min-height: 100vh; 
   background-color: #121314;
   color: #c5c5c5;
   background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

header {
   text-align: center;
}

header h1{
   margin-bottom: 0;
}

header h2{
   margin: 0px 0px 5px 0px;
}

.hidden {
   display: none !important;
   border: none !important;
}

#buttons {
   text-align: center;
}

#playArea {
   padding: 8px 2px 4px 2px;
   margin: 0 auto;
   display: flex;
   text-align: center;
   justify-content: center;
   margin-bottom: 5px;
   border: 1px solid white;
}

#playArea div {
   margin: 0 auto;
   padding: 0;
}

.selected {
   border: 1px solid darkorange;
   transform: translateY(-4px);
   background: rgba(0, 0, 0, .25);
}

#playArea div img {
   width: 60%;
   height: auto;
}

#actions {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#actions div {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   border: 1px solid gray;
}

#actions div p {
   width: 32%;
}

/*Bigger screen specifics*/
@media only screen and (min-width: 768px) {
   #playArea div img {
      width: 100%;
      height: auto;
   }

   #actions div {
      width: 50%;
      max-width: 600px;
   }

   #playArea {
      max-width: 600px;
   }
}