body {
   background: #efefef url(../images/vintage-concrete.png) repeat fixed top left;
   /* OTHER IMAGE PATHS */
   /*../images/vintage-concrete.png*/
   /*../images/oriental.png*/
   /*../images/floor-tile.png*/
   text-align: center;
   width: 100%;
   margin: 0;
}

#todoMain {
   background: rgba(65, 64, 64, 0.555);
   width: 95%;
   min-height: 150px;
   margin: 0 auto;
}

header {
   margin: 1vw;
}

h1 {
   margin: 0;
}

#addTaskMain {
   margin: 1vw;
}

#taskContent {
   padding: 1vw;
   margin-right: 0;
}

#taskAdd {
   padding: 1vw 2.5vw 1vw 2.5vw;
   margin-left: 0;
}

.incomplete, .complete {
   width: 5%;
   height: 5%;
}

@media only screen and (min-width: 768px) {
   /* Above Mobile */
   body {
     color: rgb(88, 85, 85);
   }
   
 }