html, body {
   background: #efefef url(../images/vintage-concrete.png) repeat fixed top left;
   /* OTHER IMAGE PATHS */
   /*../images/vintage-concrete.png*/
   /*../images/oriental.png*/
   /*../images/floor-tile.png*/
   text-align: center;
   min-height: 80vh;
   width: 100%;
   margin: 0;
   height: 100%;
   display: flex;
   flex-flow: column;
}

#todoMain {
   background: rgba(65, 64, 64, 0.555);
   width: 95%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   flex: 1 1 auto;
}

header {
   margin: 1vw;
   flex: 0 1 auto;
}

h1 {
   margin: 0;
}

span {
   color: black;
}

.incomplete, .complete {
   width: 12%;
   max-width: 45px;
}

.left {
   margin: .6vw;
   float: left;
   height: 32px;
   margin-right: .6vw;
}

.right {
   margin: .6vw;
   float: right;
   height: 32px;
}

.task {
   min-height: 40px;
   margin: 2px;
   margin-bottom: 3px;
   background-color: rgba(207, 111, 32, 0.651);
   border: 1px solid rgb(255, 255, 255);
}

.task .complete::before {
   content: '\1F5F9';
   font-size: 21px;
   color: white;
   margin-right: 1vw;
}

.task .incomplete::before {
   content: '\25A1';
   font-size: 30px;
   color: white;
   margin-right: 1vw;
}

#dataAndSorting {
   flex: 0 1 auto;
   margin: 0 auto;
   height: 5vw;
   background: rgba(20, 20, 20, 0.651);
   width: 95%;
   color: white;
}

#addTaskMain {
   flex: 0 1 40px;
   margin: 1vw;
}

#taskContent {
   padding: 1vw;
   margin-right: 0;
}

#taskAdd {
   padding: 1vw 2.5vw 1vw 2.5vw;
   margin-left: 0;
}

@media only screen and (min-width: 768px) {
   /* Above Mobile */
   body {
     
   }
   
 }

 @-moz-document url-prefix() {
   html, body {
      background: #efefef url(../images/vintage-concrete.png) repeat fixed top left;
      background-repeat: round;
   }
 }