body {
    display: block;
    width: 98%;
    text-align: center;
    min-height: 100vh; 
    flex-direction: column;
    background-color: #121314;
    color: #c5c5c5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#playArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opponentArea {
    max-width: 600px;
    min-width: 400px;
    height: 113px;
    background-color: #202020;
    border: .5px solid darkgray;
    margin: 15px;
}

#buttonAndResult {
    border: 1px solid white;
    padding: 4px;
    max-width: 600px;
    min-width: 200px;
}

#playerArea {
    max-width: 600px;
    min-width: 400px;
    height: 112px;
    background-color: #202020;
    border: .5px solid darkgray;
    margin: 15px;
}

h3 {
    margin: 0;
    padding: 0;
}